* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:darkseagreen
}

h1 {
    color: white;
    background-color: green;
    text-align: center;
    margin: auto;
    padding: 1%;
}

h2 {
    color:lightgreen;
}

p {
    color:darkslategrey
}

.profile {
    text-align: center;
    width: 25%;
    margin:1%;
    background-color: white;
    padding:10px;
}

.content {
    display: flex;
    margin:auto

}
