/*
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkseagreen
}

h1 {
    color: white;
    background-color: green;
    padding: 1%;
    display: flex;
}

h2 {
    color:lightgreen;
}

p {
    color:darkslategrey
}

a {
  text-decoration: none;
  color: darkseagreen;
}

.profile {
    text-align: center;
    width: 25%;
    margin:1%;
    background-color: white;
    padding:10px;
}

.content {
    display: flex;
    margin:auto
}

.home {
    background-color: white;
    text-align: left;
    padding:1%;
}

.title {
    text-align: center;
}
*/
