body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
}

h1 {
    color: blueviolet;
}

h2 {
    color: darkgoldenrod;
}

p {
    color:darkslategrey
}