* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    background-color: green;
    text-align: center;
    margin: auto;
    padding: 1%;
}

h2 {
    color: lightgreen;
}

p {
    color: darkslategrey
}

.profile {
    text-align: center;
    width: 25%;
    margin: 1%;
    background-color: white;
    padding: 10px;
}

.content {
    display: flex;
}


.navbar {
    margin: 10px;
    text-align: right;
    background: seagreen;
    padding: 10px;

}

.navbar-element {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navbar-team-name {
    text-align: left;
}
