* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 18px;
    background: beige;
    max-width: 100%;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: lightgreen;
}

#about-content {
    margin: auto;
    display: flex;
}

.about-profile {
    text-align: center;
    width: 25%;
    margin: 1%;
    background-color: white;
    padding: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#team-slogan {
    font-size: 16px;
    font-style: italic;
}

#team-slogan-victory {
    color: gold;
}

#team-name {
    font-size: 24px;
    font-weight: bold;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(36, 69, 129);
    padding: 3%;
    max-height: 5%;
    width: 100%;
}

#team-info {
    font-weight: bold;
    justify-content: left;
    text-decoration: none;
    color: #e3dbd8;
    width: 40%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

.navlink {
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#footer {
    margin-top: auto;
    width: 100%;
    background-color: rgb(36, 69, 129);
}

.navlink:hover {
    background-color: rgb(255, 255, 255);
    color: #2f4f8a;
    transition: 0.3s;
}
