* {
    padding: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 18px;
    background: beige;
    max-width: 1200px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: lightgreen;
}

.profile {
    text-align: center;
    width: 25%;
    margin: 1%;
    background-color: white;
    padding: 10px;
}

.content {
    display: flex;
    margin: auto
}

.home {
    background-color: white;
    text-align: left;
    padding: 1%;
}

.title {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    padding-left: 30px;
}

#victory {
    color: gold;
}


#navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(36, 69, 129);
    padding: 20px;
    flex: 1;
}


.navlink {
    padding: 8px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navlink:hover {
    background-color: rgb(255, 255, 255);
    color: #2f4f8a;
    transition: 0.3s;
}
