
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    font-size: 100px;
    padding-left: 30px;
}

.victory{
    color: gold;
}


.navbar{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(36, 69, 129);
    padding: 3%;
    max-height: 5%;
    }
.navlink{
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#contianer {
    flex:1;
    margin-bottom: 2%;
}

#footer {
    margin-top: auto;
    width:100%;
    background-color: violet;
}